<!DOCTYPE html>
<html>
<head>
    <title>Profile List</title>
</head>
<body>
    <h1>Profile List</h1>
    <li><%= profile.name %> <br> <%= profile.hometown %> <br> <%= profile.birthdate %> <br> <%= profile.favmovie %> <br> <%= profile.hobby %></li>
    <a href="/profiles/add">Sign Up</a>
</body>
</html>
